@import "vendor/normalize.css";

* {
    box-sizing: border-box;
}

#nav {
    list-style: none;
    width: 100%;
    padding: 0;
}

#nav li {
    display: inline-block;
}

#nav li a {
    display: block;
    margin-right: 10px;
    padding: 10px;
}

#log {
    height: 100%;
    max-height: 100%;
    width: 300px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    resize: none;
    border: 0;
    text-align: right;
    font-family: monospace;
    overflow: hidden;
}

#log i {
    font-family: 'FontAwesome';
}

[disabled] {
    pointer-events: none;
    cursor: default;
    background: transparent url(../img/waiting.gif) center center no-repeat;
    color: rgba(255, 255, 255, 0.3);
}
